<html>
<head>
	<title>Primer controlador</title>
</head>
<body>
	<h1>Welcome#index</h1>
	<p>Primera vista usando g controller</p>
	<p>Tutor:<%= @tutor %></p>
</body>
<footer>
by <%= @tutor %>; index.html.erb
</footer>
</html>

