<html>
<head>
	<title>Ejemplo layouts</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>	
</head>
<body>
	<h1>Esto es un ejemplo de otro layouts</h1>
	<p>ejemplo.html.erb</p>

</body>
</html>