<!DOCTYPE html>
<html>
<head>
  <title>Welcome Layouts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>	
</head>
<body>

	<h1>Welcome Layouts</h1>


</body>
<footer>
dirección: welcome.html.erb
</footer>
</html>